@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/*                                  */
/* ============ HEADER ============ */
/*                                  */

.header {
    display: flex;
    align-items: center;
    height: 7rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(59,9,121,1) 33%, rgba(9,54,148,0.7020785219399538) 100%);
    color: white;
    padding: 20px;
}

.header__img {
    height: 100%;
    margin-right: 6px;
}

.header__title {
    font-size: 30px;
    margin-right: auto;
}

.header__project {
    font-size: 15px;
    font-weight: 500;
}

/*                                */
/* ============ FORM ============ */
/*                                */


.meme-form__container {
    padding: 36px;
}


.meme__form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}

.form__input {
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form__btn {
    font-family: 'Roboto', sans-serif;
    grid-column: 1 / -1;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(59,9,121,1) 33%, rgba(9,54,148,0.7020785219399538) 100%);
    color: white;
    border: none;
    cursor: pointer;
}

.img__emoji {
    margin-left: 0.1em;
}


/*                                      */
/* ============ MEME IMAGE ============ */
/*                                      */

.meme-image__container {
    margin-top: 2em;
    text-align: center;
    position: relative;
}

.meme__image {
    max-height: 40em;
    max-width: 40em;
    border-radius: 3px;
}

.meme__text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}